<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "firstapp/base.html" %}
{% block title %}about{% endblock title %}
{% block header %}Сведения о компании{% endblock header %}
{% block content %}
<р>Интеллектуальные программные системы</р>
<р>Примеры вывода даты и времени</р>
<р>Год в виде четырех цифр - {% now "У" %}</р>
<р>Год в виде последних двух цифр - {% now "у" %}</р>
<р>Полное название месяца - {% now "F" %}</р>
<р>Сокращенное название месяца - {% now "М" %}</р>
<р>Номер месяца, две цифры - {% now "m" %}</р>
<р>Аббревиатура месяца (Ассошизйтед Пресс) - {% now "N" %}</р>
<р>Номер месяца, одна цифра - {% now "n" %}</р>
<р>День месяца - {% now "j" %}</р>
<р> День недели - текст - {% now "1" %}</р>
<р>Часы (0-12} - {% now "h" %}</р>
<р>Часы (0-24) - {% now "Н" %}</р>
<р>Минуты (0-59) - {% now "i" %}</р>
<р>Секунды (0-59) - {% now "s" %}</р>
<р>Дата (день/месяц/год) - {% now "j/m/Y" %}</р>
<р>Время (час:мин:сек) - {% now "H:i:s" %}</р>
{% endblock content %}
</body>
</html>